/*================================================
    Authour: Daniel Christie
    checkoutmy.space
==================================================
    GENERIC STYLES (html p58)
==================================================*/
html {
	font-family: sans-serif;
	font-size: 62.5%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
    font-size: 14px;
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.42857143;
	color: #333;
	background-color: #fff;
}

footer,
nav {
  display: block; /*<--a block= whole width of browser=*/
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    line-height: 50px;
    font-weight: 900;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    color: #E91C1C;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}

h1::after {  /* This is the underline */
	display: block;
	content: "";
	height: 2px;
	width: 150px;
	background: #E91C1C;
	margin: 5px auto 40px;
	box-shadow: 5px 2px 3px rgba(0,0,0,0.5);
}

h2 {
    line-height: 50px;
    color: #E91C1C;
}

h3 {
    line-height: 30px;
    padding-bottom: 20px;
}

h4 {
	padding-top: 25px;
	line-height: 40px;
	padding-bottom: 0px;
	font-size: 22px;
	font-weight: 900;
}

p {
    font-weight: 300;
    line-height: 30px;
    padding-bottom: 15px;
}

.text-center { /*for "The Space Station" title/heading*/
    text-align: center;
}

.heading-padding {
    padding-bottom: 40px;
}

section {/*<--semantical tag recognized by html5*/
    padding-top: 50px;
    margin-top: 50px;
}

.navbar {
	height: 105px;
	max-height: 340px;
	display: block;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}

.clearfix:after, /*clears bugs with spacing, ending effects etc*/
.container:after,
.navbar:after {
	clear: both;
	display: table;
	content: " ";
}

.wrap {
	height: 100%;
	width: 100%;
	position: absolute;
	/* This ensures that the images cannot 
	   render outside of their container 
	   without forcing any scrollbars*/
	overflow: hidden; /*crop off extra outside of img box*/
	top: 0;
	left: 0;
	text-align: center;
}

.menu-container {
	max-height: 340px;
	margin: 0% auto; /*Top/Bottom 0%, L/R auto = center alignmt*/
	content: " ";
	/* top: 0;
	left: 0; */
	/* position: absolute; */ /* to the top edge of the screen */
	width: 100%;
	position: fixed;
	z-index: 100; /*0%=away from screen, like 3d effect*/
	/*background-color: rgba(255, 255, 255, 0.5)= note from instructor while working, not really needed.;*/
}

/*=======================================
  HOME SECTION STYLES
  =======================================*/
#home {/* ["#"="id"] like...["."="class"] */
	background: url(../images/planets.jpg) no-repeat 50% 50%;/*no repeat=1 image only, not tiles if small enough pic, 50% to reduce large image size.*/
	background-attachment: fixed; /*does not move with scroll*/
	-webkit-background-size: cover; /*for older web browsers*/
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	display: block;
	height: auto;
	padding-top: 350px; /* This is spacer before the Main title Logo */
	padding-bottom: 500px; /* This is spacer after the Main title Logo */
	color: #fff;
}

.head-main { /*The Space Station title*/
	text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.9);
	font-variant: small-caps;
	color: #fff;
	letter-spacing: 5pt;
	word-spacing: 21pt;
	font-size: 4.5em;
	text-align: left;
	font-family: impact, sans-serif;
	line-height: 2;
    font-weight: 900; /*really bold*/
    border: 5px double #fff;
    padding: 10px;
}

.head-sub-main {
    font-size: 23px ;
    font-weight: 500;
    padding: 50px 20px 10px 20px;
	text-transform: uppercase;  
}

.head-last {
    font-size: 18px ;
    font-weight: 900;
    padding: 5px 20px 20px 20px;
    border: 1px dotted #fff;
    padding: 5px;
}

/*=======================================
  Contact STYLES
  =======================================*/
.flex-container { /*organize img container*/
    display: -webkit-flex;
    display: flex;
	flex-wrap: wrap;
	padding: 10px;
	border-radius: 8px;
	margin: 0px auto;
	background-color: rgba(100,65,0,.3);
	box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.5); /*shadow around ea img box*/
}

#contact {
     background-color: #f5f3f3;
}

.reservation {
	width: 60%;
	padding: 10px;
	border-radius: 8px; /*applies to all 4 corners w/1 value*/
	margin: 0px auto;
	background-color: rgba(100,65,0,.3);
	box-shadow: -1px -1px 1px 0 rgba(0,0,0,0.1)/*Left shadow of tan box slight*/, 1px 2px 10px 0 rgba(0,0,0,0.5);/*Right shadow heavier*/*/
}

.reservation h2 { /*hdg in rsvp section*/
	width: 70%;
	text-align: center;
	margin: 0 auto;
	color: #13161B;
	font-weight: 500;
	font-size: 1.3em;
	letter-spacing: 0pt;
	word-spacing: 0pt;
}

.reservation h2 span { /*this makes h2 span section little diff than rest of h2*/
	width: 70%;
	text-align: center;
	margin: 0 auto; 
	color: #13161B;
	font-weight: 900;
	font-size: 1.5em;
	font-variant: small-caps;
	letter-spacing: .4pt;
	word-spacing: .3pt;
}

.reservation p { /*this is the paragraph tag under h2.. "Please provide us w/contact info etc*/
	color: #13161B;
	width: 50%;
	margin: 0 auto;
}

.reservation form { /*form background*/
	font-size: 15px;
    outline: none;
    font-weight: 600;
    color: #8D8E8F;
    padding: 12px 12px;
    width: 70%;
    border: 1px solid #808080;
    margin: 2% auto;
    border-radius: 7px;
    background: rgb(227,222,222);
    box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.3);
    font-family: 'Raleway', sans-serif;
}

.reservation input[type="text"] { /*hover effect with cursor over boxes (the font color chg etc)*/
	font-size: 15px;
	outline: none;
	font-weight: 600;
	color: #8D8E8F;
	padding: 2% 1% 2% 7%;
	width: 80%;
	border-top: 1px solid #090B0D;
	border-right: 2px solid #424549;
	border-bottom: 2px solid #424549;
	border-left: 1px solid #090B0D;
	margin: 10px 1em;
	border-radius: 7px;
	background: #13161B;
	box-shadow: inset 0px 3px 0px 0px rgba(5, 5, 5, 0.15);
	font-family: 'Raleway', sans-serif;
}

.reservation input[type="text"]:hover { /*actual hover chg*/
	box-shadow: 0 0 18px rgba(100,65,0,.8);
}

.form-spacer { /*space b/t buttons??*/
	padding: 30px 39px;
}

.terms {
	margin: 30px 1px 0 0 ;
	padding-left: 52px;
	font-size: 14px;
	line-height: 5px;
	color: #000;
	cursor: pointer; /*the hand*/
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	position: relative;
	display: inline; /*terms &conds on same block level as submit button*/
	float: right;
}

.terms {
	margin-top: 13%;
	padding-left: 52px;
	font-size: 14px;
	line-height: 5px;
	color: #000;
	cursor: pointer;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
}

.terms:hover {
	color: orange;
	text-decoration: underline;
}

.terms {
	position: relative;
	display: inline;
	float: right;
}

.submit input[type="submit"] {
	color: rgb(225,225,225);
	cursor: pointer;
	border: none;
	font-weight: 900;
	outline: none;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	margin: 0px 3%;
	padding: 7px 0px;
	width: 25%;
	font-size: 18px;
	transition: border-color 0.3s color 0.3s background-color 0.3s;
	border-radius: 7px;
	background-color: #797a7b;
	box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.3);
}

.submit input[type="submit"]:hover {
	color: #000;
	background-color: #8D8E8F;
	box-shadow: inset 1px 2px 15px 0 rgba(0,0,0,0.5);
}

/*=======================================
  FOOTER STYLES
  =======================================*/
#footer {
    background-color: rgba(100,65,0,.3);
    color: #000;
	text-shadow: 2px 2px 8px 0 (0,0,0,0.4);
    padding: 20px 50px 20px 50px;
    text-align: right;
}

/*=======================================
  @MEDIA QUERIES ((=for diff device display chg's
  =======================================*/
@media all and (max-width:640px) and (min-width:381px) {
    .head-main { 
        font-size: 28px ;
    }
}
@media all and (max-width:381px) and (min-width:200px) {
    .head-main { 
        font-size: 24px ;
    }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}














